header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-inline: auto;
    align-items: center;
}
nav ul{
    display: flex;

}
nav ul li{
    color: rgb(148, 148, 218);
    padding-inline: 15px;
    cursor: pointer;
    font-size: 16px;
    line-height: 200%;
}
.curriculo{
    color: white;
    background-color: #f63;
    border-radius: 20px;
}